/*

 Css for front-end side 
 Created by siva

*/

.registration_status {
	color: #c24641;
	display: none;
	margin: 10px 0;
	text-align: center;
}
a {
	cursor : pointer !important;
}
.active_sub_cat a{
	color: #c81d6a !important;
}

